{% extends "base.html.twig" %}

{% block title %}
    Category
{% endblock title %}

{% block body %}
    
    {% for category in categories %}
        <div class="container">
            <h2>{{ category.name }}</h2>
            <a href="{{ path('category_show', {categoryName : category.name}) }}">Details</a>
        </div>
    {% endfor %}
{% endblock body %}